input {
  box-shadow: 0 2px 2px;
  margin: 10px;
  border: 2px solid black;
  width: 420px;
  display: block;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

textarea {
  outline: none;
  box-shadow: 0 2px 2px;
  cursor: pointer;
  width: 445px;
  max-width: 445px;
  height: 200px;
  display: block;
  border-radius: 5px;
  border: 2px solid black;

}

button {
  outline: none;
  line-height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px ;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 10px;
  box-shadow: 0 5px 10px ;
  transition: .3s;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
box-shadow: 0 7px 7px ;
transform: translateY(-7px);
}



div {

  max-width: 1500px;
  margin: auto;
  margin-top: 20px;
}


.save-post {
  text-align-last: left;
  box-shadow: 0 10px 10px;
  width: 500px;
  border-radius: 20px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid black;
}

.get-posts {
  text-align: center;
  box-shadow: 0 10px 10px;
  box-sizing: center;
  width: 460px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid black;
}

.post {
  text-align: justify;
  text-align-last: justify;
  box-shadow: 0 10px 10px;
  position: relative;
  width: max-content;
  border: 3px solid black;
  border-radius: 20px;
  padding: 25px;
}
